.table-item {
    height: 110px;
    border-radius: 12px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 2px solid transparent;
}

.table-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-name {
    font-size: 1.1rem;
    font-weight: 700;
}

.table-sub-info {
    font-size: 0.9rem;
    font-weight: 600;
}

/* 1. Trạng thái TRỐNG */
.status-available {
    background-color: #f8fafc;
    border-color: #e2e8f0;
    color: #64748b;
}

/* 2. Trạng thái ĐANG CÓ KHÁCH */
.status-occupied {
    background-color: #fef2f2;
    border-color: #fca5a5;
    color: #dc2626;
}

.status-occupied .table-icon {
    color: #ef4444;
}